# Linguist overrides
*.json linguist-detectable=true
*.tex linguist-detectable=true
sample(10).tex linguist-detectable=false
sample(15).tex linguist-detectable=false
sample(25).tex linguist-detectable=false
sample(30).tex linguist-detectable=false